DirectoryIndex index.php
Options -Indexes -ExecCGI -Includes

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^vendor(/|$) - [F,L,NC]
    RewriteRule ^app(/|$) - [F,L,NC]
    RewriteRule ^core(/|$) - [F,L,NC]
    RewriteRule ^includes(/|$) - [F,L,NC]

    RewriteRule \.(env|json|lock|md|gitignore|bak)$ - [F,L,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<FilesMatch "\.(env|json|lock)$">
    Require all denied
</FilesMatch>

Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET, POST, OPTIONS"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"